@model ckingdon.Bartender.Models.Drink
@{
    ViewBag.Title = "Order";
}

<div class="text-center">
    <p><div class="btn btn-default">@Html.ActionLink("Confirm", "ConfirmOrder")</div></p>
</div>



