@model ckingdon.Bartender.Models.Drink
@{
    ViewBag.Title = "Order";
}

<div class="text-center">
    <h2>Your PIN is: @ViewBag.PIN</h2>
    <p>Use this if you need to edit your order before it's made.</p>
    <br />
    <p>Please enter a name for the order</p>
    @using (Html.BeginForm("Order", "Drinks", Model.DrinkID, FormMethod.Post))
    {
        @Html.TextBox("Name")
        <input type="hidden" name="PIN" value="@ViewBag.PIN" />
        <input type="hidden" name="ID" value="@Model.DrinkID" />
        <input type="submit" />
    }
</div>



